.lucidity-list-pr-files {
  position: fixed;
  top: 0px;
  left: 0px;
  /*background: #f2f2f2;*/
  /*background: rgba(242, 242, 242, 0.9);*/
  background: rgba(24, 24, 24, 0.2);
  border: 0px solid #444;
  z-index: 40;
  font-family: sans;
  font-size: 10pt;
  width: 100%;
  padding: 0px;
  height: 100%;
  overflow: auto;
}

.filesContainer {
  padding: 60px 20px 60px 0;
  display: inline-block;
  background: rgba(242, 242, 242, 1);
  opacity: 0.1;
  transition: all 0.3s;
  position: absolute;
  overflow: auto;
  bottom: 0;
  left: 0;
  right: auto;
  top: 103px;
}

.filesContainer:hover {
  padding: 60px 20px 60px 0;
  display: inline-block;
  /*background: rgba(242, 242, 242, 1);*/
  opacity: 1;
}

.wide-mode {
  width: 96%!important;
  max-width: none!important;
}

.lucidity-list-pr-files-close-btn {
  color: #fafafa;
  width: 100%;
  border: 0 solid #922;
  text-align: center;
  background: #000;
  height: auto;
  padding: 15px;
  margin: 0 0 0 0;
  border-radius: 0px;
  cursor: pointer;
}

.lucidity-list-pr-files-close-btn:hover {
  background: #222;
}

.hidden {
  display: none;
}

.file-list-diff-stats {
  display: inline-block;
  padding: 6px 10px 6px 10px;
  width: 150px;
  /*background: rgba(242, 242, 242, 1);*/
  border-right: 0 solid #aaa;
  border-radius: 0px;
  text-align: right;
  padding-right: 10px;
}

.file-list-file-links {
  padding: 7px 20px 8px 20px;
  margin: 0 0 0 0;
  color: #444;
  text-decoration: none;
  border-radius: 0px;
  transition: all 0.5s;
}

.file-list-file-links:hover {
  background: #ddd;
  color: #000;
  text-decoration: none;
  /*border: 1px solid #ddd;*/
}

.file-list-file-links span {
  padding: 0 5px;
  background: #ddd;
  color: #000;
  transition: all 0.5s;
  background: #bbb;
  color: #fff;
  margin: 0 6px;
}

.file-list-file-links:hover span{
  color: #fff;
  background: #aaa;
}

.file-filter-container {
  padding: 0px;
  width: auto;
}

.file-filter-container input{
  width: 100%;
  padding: 15px;
}

.file-div-folders-visual-separator {
  border-top: 1px solid #bbb;
  padding-top: 20px;
}

.file-div-folders-visual-separator-previous {
  padding-bottom: 20px;
}
